
@model HiSpaceWeb.ViewModel.UserLoginViewModel
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_WebsiteLayout.cshtml";
	@using Microsoft.AspNetCore.Http

	@*@inject Microsoft.AspNetCore.Http.IHttpContextAccessor*@

}

<!-- page content START -->
<div class="content hi-index" id="content">
	<!-- slider START -->
	<div id="" class="split-slider">

		<div class="split left">
			<img src="~/img/slides/bmwHomeSlides/desk.png" alt="" class="split-need">
			<div class="text">
				<p class="subtitle"></p>
				<h1 class="title">Need <br /> Workspace</h1>
				<p class="desc">
					Move Into Your Workspace With Us
				</p>
			</div>
			<div class="split-form">
				<div class="row mb--20">
					<div class="col-sm-6">
						<div class="form-group">
							<div class="col-sm-2">
								<i class="fa fa-search" aria-hidden="true"></i>
							</div>
							<div class="col-sm-10">
								<input type="text" class="form-control input-sm" id="" name="" placeholder="Location">
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<div class="col-sm-2">
								<i class="fa fa-list-ul" aria-hidden="true"></i>
							</div>
							<div class="col-sm-10">
								<input type="password" class="form-control input-sm" id="" name="" placeholder="Co-Working">
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<div class="col-sm-2">
								<i class="fa fa-hourglass-start" aria-hidden="true"></i>
							</div>
							<div class="col-sm-10">
								<input type="text" class="form-control input-sm" id="" name="" placeholder="From Date">
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<div class="col-sm-2">
								<i class="fa fa-hourglass-end" aria-hidden="true"></i>
							</div>
							<div class="col-sm-10">
								<input type="text" class="form-control input-sm" id="" name="" placeholder="To Date">
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="text-center mt--20">
						<a href="@Url.Action( "ListWorkspace","Website")" title="Traverse" class="btn btn-default btn-icon contact-btn no-margin"><i class="livicon" data-name="location-alt" data-color="#fff" data-hovercolor="false" data-size="18"></i> TRAVERSE</a>
					</div>
				</div>
			</div>
		</div>
		<div class="split right">
			<img src="~/img/slides/bmwHomeSlides/building.png" alt="" class="split-list">
			<div class="text">
				<p class="subtitle"></p>
				<h1 class="title">List My <br /> Workspace</h1>
				<p class="desc">
					Make Your Space Usable To Others
				</p>

			</div>
			<div class="split-form">
				@using (Html.BeginForm("Login", "Authentication", FormMethod.Post, new { IsBooking = ViewBag.IsBooking, id = "login_form", @class = "md-form" }))
				{
					@Html.HiddenFor(m => m.IsBooking)
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<div class="col-sm-2">
									<i class="fa fa-user" aria-hidden="true"></i>
								</div>
								<div class="col-sm-10">
									@Html.TextBoxFor(m => m.UserLogin.Username, new { @id = "txtUsername", required = "required", @class= "form-control input-sm", placeholder="Username", @type="text" })
									@*<input type="text" class="form-control input-sm" id="" name="" placeholder="Username">*@
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<div class="col-sm-2">
									<i class="fa fa-key" aria-hidden="true"></i>
								</div>
								<div class="col-sm-10">
									@Html.EditorFor(m => m.UserLogin.Password, new { htmlAttributes = new { type = "password", @maxlength = "16", onfocus = "applyStyle(this)", onblur = "removeStyle(this)", @class = "form-control input-sm", required = "required", placeholder="Password" } })
									@*<input type="password" class="form-control input-sm" id="" name="" placeholder="Password">*@
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="text-center mt--20">
							<a  href="#" id="login_btn" title="Login" class="btn btn-default btn-icon contact-btn no-margin"><i class="livicon" data-name="user" data-color="#fff" data-hovercolor="false" data-size="18"></i> LOGIN</a>
							<a href="@Url.Action("Signup", "Authentication")" title="Signup" class="btn btn-default btn-icon contact-btn split-signup"><i class="livicon" data-name="building" data-color="#fff" data-hovercolor="false" data-size="18"></i> SIGNUP</a>
							<div class="split-link">
								<a href="@Url.Action("ForgotPassword", "Authentication")" class="split-signup split-password">FORGOT PASSWORD?</a>
							</div>
						</div>
					</div>
				}
			</div>
		</div>
	</div>
	<!-- slider END -->
	<!-- section workspace type START -->
	<section class="section space-type gray-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					@*<hr class="spacer-10">*@
					<div class="section-header alt-style wow fadeInDown" data-wow-delay="0.5s">
						<h2 class="strong">Workspace Types</h2>
						<small class="text-uppercase strong base-color">We have different type of work area <br>Feel like a home</small>
					</div>
					@*<hr class="spacer-10">*@
				</div>
			</div>
		</div>
		<div class="cbp creative-3col container no--padding">
			<div class="cbp-item identity logos">
				<a href="#" class="cbp-caption">
					<div class="cbp-caption-defaultWrap">
						<img src="~/img/officeTypes/businesscentre.jpg" alt="">
					</div>
					<div class="type-name-overlay">
						<span>Business Centre</span>
					</div>
					<div class="cbp-caption-activeWrap">
						<div class="cbp-l-caption-alignLeft">
							<div class="cbp-l-caption-body">
								<div class="cbp-l-caption-title">Business Centre</div>
								<div class="cbp-l-caption-desc">20+ Workspace</div>
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="cbp-item identity logos">
				<a href="#" class="cbp-caption">
					<div class="cbp-caption-defaultWrap">
						<img src="~/img/officeTypes/coworkingspace.jpg" alt="">
					</div>
					<div class="type-name-overlay">
						<span>Co-Working Space</span>
					</div>
					<div class="cbp-caption-activeWrap ">
						<div class="cbp-l-caption-alignLeft">
							<div class="cbp-l-caption-body">
								<div class="cbp-l-caption-title">Co-Working Space</div>
								<div class="cbp-l-caption-desc">30+ Workspace</div>
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="cbp-item identity logos">
				<a href="#" class="cbp-caption">
					<div class="cbp-caption-defaultWrap">
						<img src="~/img/officeTypes/creativeofficespace.jpg" alt="">
					</div>
					<div class="type-name-overlay">
						<span>Creative Office</span>
					</div>
					<div class="cbp-caption-activeWrap ">
						<div class="cbp-l-caption-alignLeft">
							<div class="cbp-l-caption-body">
								<div class="cbp-l-caption-title">Creative Office</div>
								<div class="cbp-l-caption-desc">50+ Workspace</div>
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="cbp-item identity logos">
				<a href="#" class="cbp-caption">
					<div class="cbp-caption-defaultWrap">
						<img src="~/img/officeTypes/dedicateddesk.jpg" alt="">
					</div>
					<div class="type-name-overlay">
						<span>Dedicated Desk</span>
					</div>
					<div class="cbp-caption-activeWrap ">
						<div class="cbp-l-caption-alignLeft">
							<div class="cbp-l-caption-body">
								<div class="cbp-l-caption-title">Dedicated Desk</div>
								<div class="cbp-l-caption-desc">200+ Workspace</div>
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="cbp-item identity logos">
				<a href="#" class="cbp-caption">
					<div class="cbp-caption-defaultWrap">
						<img src="~/img/officeTypes/executivesuites.jpg" alt="">
					</div>
					<div class="type-name-overlay">
						<span>Executive Suites</span>
					</div>
					<div class="cbp-caption-activeWrap ">
						<div class="cbp-l-caption-alignLeft">
							<div class="cbp-l-caption-body">
								<div class="cbp-l-caption-title">Executive Suites</div>
								<div class="cbp-l-caption-desc">100+ Workspace</div>
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="cbp-item identity logos">
				<a href="#" class="cbp-caption">
					<div class="cbp-caption-defaultWrap">
						<img src="~/img/officeTypes/hotdesk.jpg" alt="">
					</div>
					<div class="type-name-overlay">
						<span>Hot Desk</span>
					</div>
					<div class="cbp-caption-activeWrap">
						<div class="cbp-l-caption-alignLeft">
							<div class="cbp-l-caption-body">
								<div class="cbp-l-caption-title">Hot Desk</div>
								<div class="cbp-l-caption-desc">20+ Workspace</div>
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="cbp-item identity logos">
				<a href="#" class="cbp-caption">
					<div class="cbp-caption-defaultWrap">
						<img src="~/img/officeTypes/meetingroom.jpg" alt="">
					</div>
					<div class="type-name-overlay">
						<span>Meeting Room</span>
					</div>
					<div class="cbp-caption-activeWrap ">
						<div class="cbp-l-caption-alignLeft">
							<div class="cbp-l-caption-body">
								<div class="cbp-l-caption-title">Meeting Room</div>
								<div class="cbp-l-caption-desc">90+ Workspace</div>
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="cbp-item identity logos">
				<a href="#" class="cbp-caption">
					<div class="cbp-caption-defaultWrap">
						<img src="~/img/officeTypes/outdoorspace.jpg" alt="">
					</div>
					<div class="type-name-overlay">
						<span>Outdoor Space</span>
					</div>
					<div class="cbp-caption-activeWrap ">
						<div class="cbp-l-caption-alignLeft">
							<div class="cbp-l-caption-body">
								<div class="cbp-l-caption-title">Outdoor Space</div>
								<div class="cbp-l-caption-desc">40+ Workspace</div>
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="cbp-item identity logos">
				<a href="#" class="cbp-caption">
					<div class="cbp-caption-defaultWrap">
						<img src="~/img/officeTypes/privateoffice.jpg" alt="">
					</div>
					<div class="type-name-overlay">
						<span>Private Office</span>
					</div>
					<div class="cbp-caption-activeWrap ">
						<div class="cbp-l-caption-alignLeft">
							<div class="cbp-l-caption-body">
								<div class="cbp-l-caption-title">Private Office</div>
								<div class="cbp-l-caption-desc">70+ Workspace</div>
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
	</section>
	<!-- section workspace type END -->
	<!-- section city wise START -->
	<section class="section city-list">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					@*<hr class="spacer-10">*@
					<div class="section-header alt-style wow fadeInDown" data-wow-delay="0.5s">
						<h2 class="strong">List of Cities</h2>
						<small class="text-uppercase strong base-color">Beautiful Cities list <br>and there Workspace </small>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="cbp-panel">
						<div class="cbp juicy-projects-carousel">
							<div class="cbp-item">
								<a href="#" class="cbp-caption">
									<div class="cbp-caption-defaultWrap">
										<img src="~/img/ListOfCities/chennai.jpg" alt="">
									</div>
									<div class="cbp-caption-activeWrap">
										<div class="cbp-l-caption-alignLeft">
											<div class="cbp-l-caption-body">
												<div class="cbp-l-caption-title">Chennai</div>
												<div class="cbp-l-caption-desc">200+ Workspace</div>
											</div>
										</div>
									</div>
								</a>
							</div>
							<div class="cbp-item">
								<a href="#" class="cbp-caption">
									<div class="cbp-caption-defaultWrap">
										<img src="~/img/ListOfCities/mumbai.jpg" alt="">
									</div>
									<div class="cbp-caption-activeWrap">
										<div class="cbp-l-caption-alignLeft">
											<div class="cbp-l-caption-body">
												<div class="cbp-l-caption-title">Mumbai</div>
												<div class="cbp-l-caption-desc">140+ Workspace</div>
											</div>
										</div>
									</div>
								</a>
							</div>
							<div class="cbp-item">
								<a href="#" class="cbp-caption">
									<div class="cbp-caption-defaultWrap">
										<img src="~/img/ListOfCities/delhi.jpg" alt="">
									</div>
									<div class="cbp-caption-activeWrap">
										<div class="cbp-l-caption-alignLeft">
											<div class="cbp-l-caption-body">
												<div class="cbp-l-caption-title">New Delhi</div>
												<div class="cbp-l-caption-desc">100+ Workspace</div>
											</div>
										</div>
									</div>
								</a>
							</div>
							<div class="cbp-item">
								<a href="#" class="cbp-caption">
									<div class="cbp-caption-defaultWrap">
										<img src="~/img/ListOfCities/kolkata.jpg" alt="">
									</div>
									<div class="cbp-caption-activeWrap">
										<div class="cbp-l-caption-alignLeft">
											<div class="cbp-l-caption-body">
												<div class="cbp-l-caption-title">Kolkata</div>
												<div class="cbp-l-caption-desc">50+ Workspace</div>
											</div>
										</div>
									</div>
								</a>
							</div>
							<div class="cbp-item">
								<a href="#" class="cbp-caption">
									<div class="cbp-caption-defaultWrap">
										<img src="~/img/ListOfCities/bangalore.jpg" alt="">
									</div>
									<div class="cbp-caption-activeWrap">
										<div class="cbp-l-caption-alignLeft">
											<div class="cbp-l-caption-body">
												<div class="cbp-l-caption-title">Bangalore</div>
												<div class="cbp-l-caption-desc">250+ Workspace</div>
											</div>
										</div>
									</div>
								</a>
							</div>
							<div class="cbp-item">
								<a href="#" class="cbp-caption">
									<div class="cbp-caption-defaultWrap">
										<img src="~/img/ListOfCities/hyderabad.jpg" alt="">
									</div>
									<div class="cbp-caption-activeWrap">
										<div class="cbp-l-caption-alignLeft">
											<div class="cbp-l-caption-body">
												<div class="cbp-l-caption-title">Hyderabad</div>
												<div class="cbp-l-caption-desc">80+ Workspace</div>
											</div>
										</div>
									</div>
								</a>
							</div>
							<div class="cbp-item">
								<a href="#" class="cbp-caption">
									<div class="cbp-caption-defaultWrap">
										<img src="~/img/ListOfCities/ahmedabad.jpg" alt="">
									</div>
									<div class="cbp-caption-activeWrap">
										<div class="cbp-l-caption-alignLeft">
											<div class="cbp-l-caption-body">
												<div class="cbp-l-caption-title">Ahmedabad</div>
												<div class="cbp-l-caption-desc">40+ Workspace</div>
											</div>
										</div>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- section city wise END -->
	<!-- section list START -->
	<section class="section gray-bg" id="next">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 text-center">
					<div class="section-header">
						<small class="text-uppercase strong base-color">way to success</small>
						<h2 class="strong">Happy clients</h2>
					</div>

					<!-- optional spacer classes "spacer-10" "spacer-20" "spacer-30" upto "spacer-80" -->
					@*<hr class="spacer-20">*@
				</div>
			</div>
			<div class="row">

				<!-- fun fact START -->
				<div class="col-xs-6 col-sm-3">
					<div class="count-wrap">
						<i class="icon-briefcase text-info"></i>
						<div class="fun-counter"> 100 </div>
						<h5 class="fun-title">Clients</h5>
					</div>
				</div>
				<!-- fun fact END -->
				<!-- fun fact START -->
				<div class="col-xs-6 col-sm-3">
					<div class="count-wrap">
						<i class="icon-profile-male text-warning"></i>
						<div class="fun-counter"> 200 </div>
						<h5 class="fun-title">Users</h5>
					</div>
				</div>
				<!-- fun fact END -->
				<!-- fun fact START -->
				<div class="col-xs-6 col-sm-3">
					<div class="count-wrap">
						<i class="icon-target text-danger"></i>
						<div class="fun-counter"> 1329 </div>
						<h5 class="fun-title">Workspace</h5>
					</div>
				</div>
				<!-- fun fact END -->
				<!-- fun fact START -->
				<div class="col-xs-6 col-sm-3">
					<div class="count-wrap">
						<i class="icon-map text-success"></i>
						<div class="fun-counter"> 10 </div>
						<h5 class="fun-title">Cities</h5>
					</div>
				</div>
				<!-- fun fact END -->
			</div>
		</div>
	</section>
	<!-- section list END -->
	<!-- section amenities START -->
	<section class="section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					@*<hr class="spacer-10">*@
					<div class="section-header alt-style wow fadeInDown" data-wow-delay="0.5s">
						<h2 class="strong">Amenities</h2>
						<small class="text-uppercase strong base-color">List of facitilies <br>that has been provided</small>
					</div>
					@*<hr class="spacer-10">*@
				</div>
			</div>

			<div class="row list-amenities">
				<ul class="">
					<li class="">
						<div class="amenities-icons-effect">
							<div class="amenities-icons text-center">
								<i class="flaticon-internet"></i>
								<div class="btc_step_overlay"></div>
							</div>
						</div>
						<div class="amenities-name">Internet</div>
					</li>
					<li class="">
						<div class="amenities-icons-effect">
							<div class="amenities-icons text-center">
								<i class="flaticon-extinguisher"></i>
								<div class="btc_step_overlay"></div>
							</div>
						</div>
						<div class="amenities-name">Extinguisher</div>
					</li>
					<li class="">
						<div class="amenities-icons-effect">
							<div class="amenities-icons text-center">
								<i class="flaticon-security-camera"></i>
								<div class="btc_step_overlay"></div>
							</div>
						</div>
						<div class="amenities-name">Camera</div>
					</li>
					<li class="">
						<div class="amenities-icons-effect">
							<div class="amenities-icons text-center">
								<i class="flaticon-air-conditioner"></i>
								<div class="btc_step_overlay"></div>
							</div>
						</div>
						<div class="amenities-name">AC</div>
					</li>
					<li class="">
						<div class="amenities-icons-effect">
							<div class="amenities-icons text-center">
								<i class="flaticon-megaphone"></i>
								<div class="btc_step_overlay"></div>
							</div>
						</div>
						<div class="amenities-name">megaphone</div>
					</li>
					<li class="">
						<div class="amenities-icons-effect">
							<div class="amenities-icons text-center">
								<i class="flaticon-customer-service"></i>
								<div class="btc_step_overlay"></div>
							</div>
						</div>
						<div class="amenities-name">service</div>
					</li>
					<li class="">
						<div class="amenities-icons-effect">
							<div class="amenities-icons text-center">
								<i class="flaticon-no-fire"></i>
								<div class="btc_step_overlay"></div>
							</div>
						</div>
						<div class="amenities-name">No fire</div>
					</li>
					<li class="">
						<div class="amenities-icons-effect">
							<div class="amenities-icons text-center">
								<i class="flaticon-bowling"></i>
								<div class="btc_step_overlay"></div>
							</div>
						</div>
						<div class="amenities-name">Games</div>
					</li>
					<li class="">
						<div class="amenities-icons-effect">
							<div class="amenities-icons text-center">
								<i class="flaticon-office-space"></i>
								<div class="btc_step_overlay"></div>
							</div>
						</div>
						<div class="amenities-name">office space</div>
					</li>
					<li class="">
						<div class="amenities-icons-effect">
							<div class="amenities-icons text-center">
								<i class="flaticon-chair"></i>
								<div class="btc_step_overlay"></div>
							</div>
						</div>
						<div class="amenities-name">chair</div>
					</li>
					<li class="">
						<div class="amenities-icons-effect">
							<div class="amenities-icons text-center">
								<i class="flaticon-doctor-bag"></i>
								<div class="btc_step_overlay"></div>
							</div>
						</div>
						<div class="amenities-name">FirstAid kit</div>
					</li>
					<li class="">
						<div class="amenities-icons-effect">
							<div class="amenities-icons text-center">
								<i class="flaticon-microwave-oven"></i>
								<div class="btc_step_overlay"></div>
							</div>
						</div>
						<div class="amenities-name">oven</div>
					</li>
					<li class="">
						<div class="amenities-icons-effect">
							<div class="amenities-icons text-center">
								<i class="flaticon-parking"></i>
								<div class="btc_step_overlay"></div>
							</div>
						</div>
						<div class="amenities-name">Parking</div>
					</li>
					<li class="">
						<div class="amenities-icons-effect">
							<div class="amenities-icons text-center">
								<i class="flaticon-operator-avatar"></i>
								<div class="btc_step_overlay"></div>
							</div>
						</div>
						<div class="amenities-name">Support</div>
					</li>
				</ul>
			</div>
		</div>
	</section>
	<!-- section amenities END -->
	<!-- section testimonial START -->
	<section class="section gray-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					@*<hr class="spacer-10">*@
					<div class="section-header alt-style wow fadeInDown" data-wow-delay="0.5s">
						<h2 class="strong">Testimonial</h2>
						<small class="text-uppercase strong base-color">Some of our clients <br>Shared there reviews </small>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
					<div class="testimonial_slider">

						<div class="carousel-item">
							<div class="card  valign-wrapper">
								<div class="card-image">
									<img src="~/img/authors/author1.jpg" alt="img">
								</div>
								<div class="card-content center-align valign">
									<p> “ I don't always clap, but when I do, it's because of Sella. We can't understand how we've been living without Sella. ”</p>
									<p class="card-title">lara Smith <span>CEO</span></p>
								</div>
							</div>
						</div>

						<div class="carousel-item">
							<div class="card  valign-wrapper">
								<div class="card-image">
									<img src="~/img/authors/author2.jpg" alt="img">
								</div>
								<div class="card-content center-align valign">
									<p>“ I don't always clap, but when I do, it's because of Sella. We can't understand how we've been living without Sella. ” </p>
									<p class="card-title">michel sem <span>buyer</span></p>
								</div>
							</div>
						</div>

						<div class="carousel-item">
							<div class="card  valign-wrapper">
								<div class="card-image">
									<img src="~/img/authors/author2.jpg" alt="img">
								</div>
								<div class="card-content center-align valign">
									<p> “ I don't always clap, but when I do, it's because of Sella. We can't understand how we've been living without Sella. ” </p>
									<p class="card-title">Jonh Smith <span>support manager</span></p>
								</div>
							</div>
						</div>

						<div class="carousel-item">
							<div class="card  valign-wrapper">
								<div class="card-image">
									<img src="~/img/authors/author2.jpg" alt="img">
								</div>
								<div class="card-content center-align valign">
									<p>“ I don't always clap, but when I do, it's because of Sella. We can't understand how we've been living without Sella. ”</p>
									<p class="card-title">Jonh Smith <span>chairman</span></p>
								</div>
							</div>
						</div>

						<div class="carousel-item">
							<div class="card  valign-wrapper">
								<div class="card-image">
									<img src="~/img/authors/author2.jpg" alt="img">
								</div>
								<div class="card-content center-align valign">
									<p> “ I don't always clap, but when I do, it's because of Sella. We can't understand how we've been living without Sella. ” </p>
									<p class="card-title">selina doe <span>buyer</span></p>
								</div>
							</div>
						</div>

						<div class="carousel-item">
							<div class="card  valign-wrapper">
								<div class="card-image">
									<img src="~/img/authors/author2.jpg" alt="img">
								</div>
								<div class="card-content center-align valign">
									<p> “ I don't always clap, but when I do, it's because of Sella. We can't understand how we've been living without Sella. ”</p>
									<p class="card-title">Jonh Smith <span>CEO, Apple Inc</span></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- section testimonial END -->
	<!-- section client START -->
	<section class="section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					@*<hr class="spacer-10">*@
					<div class="section-header alt-style wow fadeInDown" data-wow-delay="0.5s">
						<h2 class="strong">Clients</h2>
						<small class="text-uppercase strong base-color">Some of our happy clients <br>Share and Get their Workspace</small>
					</div>
					@*<hr class="spacer-10">*@
				</div>
			</div>

			<div class="row">
				<div class="col-lg-12">

					<!-- clients carousel START -->
					<div class="cbp cbp-l-grid-clients our-clients">
						<div class="cbp-item">
							<a href="javascript:void(0);" class="cbp-caption" target="_blank">
								<div class="cbp-caption-defaultWrap">
									<img src="~/img/clients/1.png" alt="Image title here">
								</div>
							</a>
						</div>
						<div class="cbp-item">
							<a href="javascript:void(0);" class="cbp-caption" target="_blank">
								<div class="cbp-caption-defaultWrap">
									<img src="~/img/clients/2.png" alt="Image title here">
								</div>
							</a>
						</div>
						<div class="cbp-item">
							<a href="javascript:void(0);" class="cbp-caption" target="_blank">
								<div class="cbp-caption-defaultWrap">
									<img src="~/img/clients/3.png" alt="Image title here">
								</div>
							</a>
						</div>
						<div class="cbp-item">
							<a href="javascript:void(0);" class="cbp-caption" target="_blank">
								<div class="cbp-caption-defaultWrap">
									<img src="~/img/clients/4.png" alt="Image title here">
								</div>
							</a>
						</div>
						<div class="cbp-item">
							<a href="javascript:void(0);" class="cbp-caption" target="_blank">
								<div class="cbp-caption-defaultWrap">
									<img src="~/img/clients/5.png" alt="Image title here">
								</div>
							</a>
						</div>
						<div class="cbp-item">
							<a href="javascript:void(0);" class="cbp-caption" target="_blank">
								<div class="cbp-caption-defaultWrap">
									<img src="~/img/clients/6.png" alt="Image title here">
								</div>
							</a>
						</div>
						<div class="cbp-item">
							<a href="javascript:void(0);" class="cbp-caption" target="_blank">
								<div class="cbp-caption-defaultWrap">
									<img src="~/img/clients/7.png" alt="Image title here">
								</div>
							</a>
						</div>
						<div class="cbp-item">
							<a href="javascript:void(0);" class="cbp-caption" target="_blank">
								<div class="cbp-caption-defaultWrap">
									<img src="~/img/clients/8.png" alt="Image title here">
								</div>
							</a>
						</div>
						<div class="cbp-item">
							<a href="javascript:void(0);" class="cbp-caption" target="_blank">
								<div class="cbp-caption-defaultWrap">
									<img src="~/img/clients/9.png" alt="Image title here">
								</div>
							</a>
						</div>
						<div class="cbp-item">
							<a href="javascript:void(0);" class="cbp-caption" target="_blank">
								<div class="cbp-caption-defaultWrap">
									<img src="~/img/clients/10.png" alt="Image title here">
								</div>
							</a>
						</div>
						<div class="cbp-item">
							<a href="javascript:void(0);" class="cbp-caption" target="_blank">
								<div class="cbp-caption-defaultWrap">
									<img src="~/img/clients/11.png" alt="Image title here">
								</div>
							</a>
						</div>
						<div class="cbp-item">
							<a href="javascript:void(0);" class="cbp-caption" target="_blank">
								<div class="cbp-caption-defaultWrap">
									<img src="~/img/clients/12.png" alt="Image title here">
								</div>
							</a>
						</div>
						<div class="cbp-item">
							<a href="javascript:void(0);" class="cbp-caption" target="_blank">
								<div class="cbp-caption-defaultWrap">
									<img src="~/img/clients/13.png" alt="Image title here">
								</div>
							</a>
						</div>
						<div class="cbp-item">
							<a href="javascript:void(0);" class="cbp-caption" target="_blank">
								<div class="cbp-caption-defaultWrap">
									<img src="~/img/clients/14.png" alt="Image title here">
								</div>
							</a>
						</div>
						<div class="cbp-item">
							<a href="javascript:void(0);" class="cbp-caption" target="_blank">
								<div class="cbp-caption-defaultWrap">
									<img src="~/img/clients/15.png" alt="Image title here">
								</div>
							</a>
						</div>
					</div>
					<!-- clients carousel END -->
				</div>
			</div>
		</div>
	</section>
	<!-- section client END -->
</div>
<!-- page content END -->

<script>
	document.getElementById("login_btn").onclick = function () {
		document.getElementById("login_form").submit();
	}
</script>