@model HiSpaceWeb.ViewModel.ClientMasterViewModel

@{
	ViewBag.Title = "Client";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- begin app-main -->
<div class="app-main" id="main">
	<!-- begin container-fluid -->
	<div class="container-fluid">
		<!-- begin row -->
		<div class="row">
			<div class="col-md-12 m-b-10">
				<!-- begin page title -->
				<div class="d-block d-sm-flex flex-nowrap align-items-center">
					<div class="page-title mb-2 mb-sm-0">
						<h1>Client <span class="action-text"> - Create</span></h1>
					</div>
					<div class="ml-auto d-flex align-items-center">
						<nav>
							<ol class="breadcrumb p-0 m-b-0">
								<li class="breadcrumb-item">
									<a href="@Url.Action( "Index","Home")"><i class="ti ti-home"></i></a>
								</li>
								<li class="breadcrumb-item active text-primary" aria-current="page">Client</li>
							</ol>
						</nav>
					</div>
				</div>
				<!-- end page title -->
			</div>
		</div>
		<!-- end row -->

		@using (Html.BeginForm("Create", "Client", FormMethod.Post, new { id = "", @class = "md-form", enctype = "multipart/form-data" }))
		{
			@Html.AntiForgeryToken()
			<div class="row" id="add_view">
				<div class="col-12 mb-3">
					<p><a href="@Url.Action( "Index","Client")" class="go-to-table"> <i class="fa fa-angle-left" aria-hidden="true"></i> <span>Go Back</span></a></p>
				</div>

				<div class="col-12 tabs-contant">
					<div class="">
						<div class="tab round">
							<ul class="nav nav-tabs hi-tab" role="tablist">
								<li class="nav-item">
									<a class="nav-link active show" id="head-1" data-id="1" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true"> <span>1.</span> Info </a>
								</li>
								<li class="nav-item cursor-no-drop">
									<a class="nav-link pointer-event-none" id="head-2" data-id="2" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false"><span>2.</span> Address </a>
								</li>
								<li class="nav-item cursor-no-drop">
									<a class="nav-link pointer-event-none" id="head-3" data-id="3" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false"> <span>3.</span> Contact </a>
								</li>
								<li class="nav-item cursor-no-drop">
									<a class="nav-link pointer-event-none" id="head-4" data-id="4" data-toggle="tab" href="#tab-4" role="tab" aria-controls="tab-4" aria-selected="false"> <span>4.</span> Documents </a>
								</li>
							</ul>
						</div>
						<div class="card card-statistics">
							<div class="card-body">
								<div class="tab round">
									<div class="tab-content">
										<!--tab 1-->
										<div class="tab-pane fade active show" id="tab-1" role="tabpanel" aria-labelledby="head-1">
											<!--row 1-->
											<div class="row">
												<div class="col-lg-3 col-md-6 col-sm-6 col-12">
													<div class="form-group">

														@Html.EditorFor(m => m.ClientMaster.ClientName, new { htmlAttributes = new { @placeholder = "Enter Client Name", @class = "required-input" } })
														@Html.LabelFor(m => m.ClientMaster.ClientName, new { @class = "control-label" })
														<i class="bar"></i>
													</div>
													<span class="hi-error d-none">Name is required</span>
												</div>
												<div class="col-lg-3 col-md-6 col-sm-6 col-12">
													<div class="form-group">
														@Html.EditorFor(m => m.ClientMaster.ClientNumber, new { htmlAttributes = new { type = "number", @placeholder = "9999999999", @maxlength = "10", @class = "required-input" } })
														@Html.LabelFor(m => m.ClientMaster.ClientNumber, new { @class = "control-label" })
														<i class="bar"></i>
													</div>
													<span class="hi-error d-none">Number is required</span>
												</div>
												<div class="col-lg-3 col-md-6 col-sm-6 col-12">
													<div class="form-group">
														@Html.EditorFor(m => m.ClientMaster.Email, new { htmlAttributes = new { type = "email", @placeholder = "text@abc.com" } })
														@Html.LabelFor(m => m.ClientMaster.Email, new { @class = "control-label" })
														<i class="bar"></i>
													</div>
												</div>
												<div class="col-lg-3 col-md-6 col-sm-6 col-12">
													<div class="form-group">
														@Html.EditorFor(m => m.ClientMaster.GSTIN, new { htmlAttributes = new { @placeholder = "22AAAAA0000A1Z5", @class = "text-uppercase" } })
														@Html.LabelFor(m => m.ClientMaster.GSTIN, new { @class = "control-label" })
														<i class="bar"></i>
													</div>
												</div>
											</div>
											<!--row 2-->
											<div class="row">
												<div class="col-lg-3 col-md-6 col-sm-6 col-12">
													<div class="form-group">
														@Html.EditorFor(m => m.ClientMaster.PAN, new { htmlAttributes = new { @placeholder = "ABCDE1234F", @class = "text-uppercase" } })
														@Html.LabelFor(m => m.ClientMaster.PAN, new { @class = "control-label" })
														<i class="bar"></i>
													</div>
												</div>
												<div class="col-lg-3 col-md-6 col-sm-6 col-12">
													<div class="form-group">
														@Html.EditorFor(m => m.ClientMaster.UAN, new { htmlAttributes = new { @placeholder = "111122223333", @class = "text-uppercase" } })
														@Html.LabelFor(m => m.ClientMaster.UAN, new { @class = "control-label" })
														<i class="bar"></i>
													</div>
												</div>
												<div class="col-lg-3 col-md-6 col-sm-6 col-12">
													<div class="form-group">
														@Html.EditorFor(m => m.ClientMaster.Fax, new { htmlAttributes = new { @placeholder = "12223333333", @class = "text-uppercase" } })
														@Html.LabelFor(m => m.ClientMaster.Fax, new { @class = "control-label" })
														<i class="bar"></i>
													</div>
												</div>
												<div class="col-lg-6 col-md-6 col-sm-6 col-12">
													<div class="form-group">
														@Html.EditorFor(m => m.ClientMaster.Description, new { htmlAttributes = new { @placeholder = "Enter your text here ..." } })
														@Html.LabelFor(m => m.ClientMaster.Description, new { @class = "control-label" })
														<i class="bar"></i>
													</div>
												</div>
											</div>
										</div>
										<!--tab 2-->
										<div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="head-2">
											<!--row 1-->
											<div class="row">
												<div class="col-lg-3 col-md-6 col-sm-6 col-12">
													<div class="form-group">
														@Html.EditorFor(m => m.ClientMaster.Address, new { htmlAttributes = new { @placeholder = "Flat:no, street Name" } })
														@Html.LabelFor(m => m.ClientMaster.Address, new { @class = "control-label" })
														<i class="bar"></i>
													</div>
												</div>
												<div class="col-lg-3 col-md-6 col-sm-6 col-12">
													<div class="form-group">
														@Html.EditorFor(m => m.ClientMaster.City, new { htmlAttributes = new { @placeholder = "City name" } })
														@Html.LabelFor(m => m.ClientMaster.City, new { @class = "control-label" })
														<i class="bar"></i>
													</div>
												</div>
												<div class="col-lg-3 col-md-6 col-sm-6 col-12">
													<div class="form-group">
														@Html.EditorFor(m => m.ClientMaster.State, new { htmlAttributes = new { @placeholder = "State name" } })
														@Html.LabelFor(m => m.ClientMaster.State, new { @class = "control-label" })
														<i class="bar"></i>
													</div>
												</div>
												<div class="col-lg-3 col-md-6 col-sm-6 col-12">
													<div class="form-group">
														@Html.EditorFor(m => m.ClientMaster.Country, new { htmlAttributes = new { @placeholder = "Country name" } })
														@Html.LabelFor(m => m.ClientMaster.Country, new { @class = "control-label" })
														<i class="bar"></i>
													</div>
												</div>
											</div>
											<!--row 2-->
											<div class="row">
												<div class="col-lg-3 col-md-6 col-sm-6 col-12">
													<div class="form-group">
														@Html.EditorFor(m => m.ClientMaster.Pincode, new { htmlAttributes = new { @placeholder = "000000", @maxlength = "6" } })
														@Html.LabelFor(m => m.ClientMaster.Pincode, new { @class = "control-label" })
														<i class="bar"></i>
													</div>
												</div>
											</div>
										</div>
										<!--tab 3-->
										<div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="head-3">
											<div class="" id="c_add_contact">
												<!--row 1-->
												<div class="row align-items-center">
													<div class="col-lg-3 col-md-6 col-sm-6 col-12">
														<div class="form-group">
															@Html.EditorFor(m => m.ClientMaster.PrimaryContactName, new { htmlAttributes = new { @placeholder = "Enter Contact Name" } })
															@Html.LabelFor(m => m.ClientMaster.PrimaryContactName, new { @class = "control-label" })
															<i class="bar"></i>
														</div>
													</div>
													<div class="col-lg-3 col-md-6 col-sm-6 col-12">
														<div class="form-group">
															@Html.EditorFor(m => m.ClientMaster.PrimaryContactNumber, new { htmlAttributes = new { type = "number", @placeholder = "9999999999", @maxlength = "10" } })
															@Html.LabelFor(m => m.ClientMaster.PrimaryContactNumber, new { @class = "control-label" })
															<i class="bar"></i>
														</div>
													</div>
													<div class="col-lg-3 col-md-6 col-sm-6 col-12">
														<div class="form-group">
															@Html.EditorFor(m => m.ClientMaster.PrimaryContactEmail, new { htmlAttributes = new { type = "email", @placeholder = "text@abc.com" } })
															@Html.LabelFor(m => m.ClientMaster.PrimaryContactEmail, new { @class = "control-label" })
															<i class="bar"></i>
														</div>
													</div>
													<div class="col-lg-3 col-md-6 col-sm-6 col-12">
														<div class="form-group">
															@Html.EditorFor(m => m.ClientMaster.ClientUsername, new { htmlAttributes = new { @placeholder = "Enter Username" } })
															@Html.LabelFor(m => m.ClientMaster.ClientUsername, new { @class = "control-label" })
															<i class="bar"></i>
														</div>
													</div>
												</div>
												<!--row 2-->
												<div class="row align-items-center">
													<div class="col-lg-3 col-md-6 col-sm-6 col-12">
														<div class="form-group">

															@Html.EditorFor(m => m.ClientMaster.ClientPassword, new { htmlAttributes = new { type = "password", @placeholder = "123abc", @maxlength = "16", onfocus = "applyStyle(this)", onblur = "removeStyle(this)", @class = "input-password" } })
															@Html.LabelFor(m => m.ClientMaster.ClientPassword, new { @class = "control-label md-password" })
															<i class="bar"></i>
														</div>
													</div>
												</div>
											</div>
										</div>
										<!--tab 4-->
										<div class="tab-pane fade" id="tab-4" role="tabpanel" aria-labelledby="head-4">
											<!--row 1-->
											<div class="row align-items-center">
												<div class="col-lg-4 col-md-6 col-sm-6 col-12">
													<div class="form-group">
														<p class="label-head mb-10">Registration Certificate</p>
														@Html.EditorFor(m => m.RCCopy, new { accept = "image/*", @class = "form-control-file" })
													</div>
												</div>
												<div class="col-lg-4 col-md-6 col-sm-6 col-12">
													<div class="form-group">
														<p class="label-head mb-10">PAN</p>
														@Html.EditorFor(m => m.PANCopy, new { accept = "image/*", @class = "form-control-file" })
													</div>
												</div>
												<div class="col-lg-4 col-md-6 col-sm-6 col-12">
													<div class="form-group">
														<p class="label-head mb-10">GST</p>
														@Html.EditorFor(m => m.GSTCopy, new { accept = "image/*", @class = "form-control-file" })
													</div>
												</div>
											</div>
											<!--row 2-->
											<div class="row align-items-center">
												<div class="col-lg-4 col-md-6 col-sm-6 col-12">
													<div class="form-group">
														<p class="label-head mb-10">Membership Agreement</p>
														@Html.EditorFor(m => m.MembershipAgreementCopy, new { accept = "image/*", @class = "form-control-file" })
													</div>
												</div>
												<div class="col-lg-4 col-md-6 col-sm-6 col-12">
													<div class="form-group">
														<p class="label-head mb-10">Primay Contact PAN</p>
														@Html.EditorFor(m => m.ContactPersonPAN, new { accept = "image/*", @class = "form-control-file" })
													</div>
												</div>
												<div class="col-lg-4 col-md-6 col-sm-6 col-12">
													<div class="form-group">
														<p class="label-head mb-10">Primary Contact Aadhar</p>
														@Html.EditorFor(m => m.ContactPersonAadhaar, new { accept = "image/*", @class = "form-control-file" })
													</div>
												</div>
											</div>
											<!--row 3-->
											<div class="row align-items-center">
												<div class="col-lg-4 col-md-6 col-sm-6 col-12">
													<div class="form-group">
														<p class="label-head mb-10">Client Logo</p>
														@Html.EditorFor(m => m.Logo, new { accept = "image/*", @class = "form-control-file" })
													</div>
												</div>
											</div>
											<!--row 4-->
											<div class="row align-items-center">
												<div class="col-lg-12 col-md-12 col-sm-12 col-12">
													<div class="checkbox mt-20">
														<label>
															<input id="terms" type="checkbox" /><i class="helper"></i>i agree to the <a href="" data-toggle="modal" data-target="#largeModal" class="primary-text-color text-underline"><u>terms and conditions</u></a>
														</label>
													</div>
												</div>
												<div class="col-lg-3 col-md-3 col-sm-12 col-12">
													<div class="form-group mt-10">
														<div class="checkbox checbox-switch switch-primary mt-10">
															<label class="p-0">
																@Html.CheckBoxFor(m => m.ClientMaster.Active, new { @checked = "checked" })
																<span></span>
																Activate
															</label>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="card card-statistics">
							<div class="card-body">
								<div class="row hi-btn-event">
									<div class="col-12">
										<a href="javascript:void(0);" onclick="tabNavigation(0);" class="btn btn-primary text-uppercase tab-back-btn">Back</a>
										<a href="javascript:void(0);" onclick="tabNavigation(1);" class="btn btn-primary text-uppercase tab-next-btn float-right">Next</a>
										<input href="javascript:void(0);" onclick="tabNavigation(2);" type="submit" class="btn btn-success text-uppercase tab-submit float-right bmw-submit" value="Submit" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		}

		<!-- Large Modal -->
		<div class="modal fade" id="largeModal" role="dialog">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Terms and Conditions</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<p>
							1.Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis
							in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at
							eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
						</p>
						<p>
							2.Vivamus
							sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Aenean lacinia
							bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque
							nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor
							fringilla.
						</p>
						<p>
							3.Cras mattis consectetur purus sit amet fermentum. Cras justo odio,
							dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur
							ac, vestibulum at eros.
						</p>
						<p>
							4.Praesent commodo cursus magna, vel scelerisque nisl consectetur
							et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Aenean
							lacinia bibendum nulla sed consectetur.
						</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>