@model IEnumerable<HiSpaceModels.MemberMaster>

@{
    ViewBag.Title = "Member";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- begin app-main -->
<div class="app-main" id="main">
    <!-- begin container-fluid -->
    <div class="container-fluid">
        <!-- begin row -->
        <div class="row">
            <div class="col-md-12 m-b-20">
                <!-- begin page title -->
                <div class="d-block d-sm-flex flex-nowrap align-items-center">
                    <div class="page-title mb-2 mb-sm-0">
                        <h1>My Members<span class="action-text"></span></h1>
                    </div>
                    <div class="ml-auto d-flex align-items-center">
                        <nav>
                            <ol class="breadcrumb p-0 m-b-0">
                                <li class="breadcrumb-item">
                                    <a href="@Url.Action( "Index","Home")"><i class="ti ti-home"></i></a>
                                </li>
                                <li class="breadcrumb-item active text-primary" aria-current="page">Member</li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <!-- end page title -->
            </div>
        </div>
        <!-- end row -->
        <!-- begin row -->
        <!--Client table view-->
        <div class="row" id="table_view">
            <div class="col-lg-12">
                <div class="card card-statistics">
                    <div class="card-body">
                        <div class="datatable-wrapper table-responsive">
                            <a href="@Url.Action( "Create","Member")">
                                <div id="show_add_view" class="add-new tooltip-wrapper" data-toggle="tooltip" data-placement="top" title="" data-original-title="Click to add">
                                    <i class="fa fa-plus"></i>
                                </div>
                            </a>
                            <table id="memberTable" class="display compact table table-striped mdtable">
                                <thead>
                                    <tr>
                                        <th>M-ID</th>
                                        <th>Name</th>
                                        <th>Phone</th>
                                        <th class="text-center">Mem.Plan</th>
                                        <th>Price</th>
                                        <th>City</th>
                                        <th>Exp.Date</th>
                                        <th align="center">Status</th>                                       
										<th class="text-center" width="106px">
                                            Action
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
										@if (item.MemberStatus)
										{
											ViewBag.Status = "text-success fa fa-check btn btn-icon icon-status";
										}
										else
										{
											ViewBag.Status = "text-danger fa fa-ban btn btn-icon icon-status";
										}

										@if (item.ClientMembershipPlanID == 1)
										{
											ViewBag.MemberPlan = "Gold";
											ViewBag.ClassName = "gold-plan";
										}
										else if (item.ClientMembershipPlanID == 2)
										{
											ViewBag.MemberPlan = "Diamond";
											ViewBag.ClassName = "diamond-plan";
										}
										else if (item.ClientMembershipPlanID == 3)
										{
											ViewBag.MemberPlan = "Platinum";
											ViewBag.ClassName = "platinum-plan";
										}
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MemberID)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MemberName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Number)
                                        </td>
                                        <td class="text-center">
                                            <span class="@ViewBag.ClassName plans-style"> @ViewBag.MemberPlan </span>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DiscountedPrice)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.City)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MembershipExpiryDate)
                                        </td>
                                        <td>
                                            <div class="ml-auto d-flex align-items-center secondary-menu text-center md-crud-menu">
                                                <i class="@ViewBag.Status"></i>
                                            </div>
                                        </td>                                        
                                        <td class="p-0">
                                            <div class="ml-auto d-flex align-items-center secondary-menu text-center md-crud-menu justify-content-center">

                                                <a href="@Url.Action( "Display","Member", new { MemberID = item.MemberID })" class="tooltip-wrapper" data-toggle="tooltip" data-placement="top" title="" data-original-title="View">
                                                    <i class="fa fa-eye btn btn-icon"></i>
                                                </a>
                                                <a href="@Url.Action( "Edit","Member", new { MemberID = item.MemberID })" class="tooltip-wrapper" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit">
                                                    <i class="fa fa-pencil-square-o btn btn-icon "></i>
                                                </a>                                               

                                            </div>
                                        </td>
                                    </tr>
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>




